.footer {

    @include mobile {
        padding-inline: 0;
    }

    &__inner {

        padding: rem(55) rem(60) rem(55);
        color: var(--color-light);
        background-color: var(--color-dark);
        border-radius:
        var(--border-radius-large) 
        var(--border-radius-large) 
        0 0;

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: rem(37);
            padding: rem(50) var(--container-padding-x) rem(30);
            border-radius: 0;
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(30);

        &:not(:last-child){
            margin-bottom: rem(66);
        }

        @include tablet {
            flex-direction: column;
            align-items: center;
            row-gap: rem(37);
        }

        @include mobile {
            display: contents;
        }
    }

    &__menu {

        @include tablet {
            display: flex;

        }

        &-list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: rem(8);

            @include mobile {
                flex-direction: column;
            }
        }

        &-link{
            display: inline-block;
            padding: 15px 20px;
            position: relative;
            align-items: center;
            
            &:after {
                content: "";
                display: block;
                position: absolute;
                background: none repeat scroll 0 0 transparent;
                bottom: 15%;
                height: 2px;
                left: 50%;
                background: var(--color-accent);
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }

            &:hover:after{
                width: 100%;
                left: 0;
            }

            @include hover {
                color: var(--color-accent);
            }

            @include tablet {
                padding: rem(10);
            }
        }
    }

    &__soc1als {
        order: 1;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        column-gap: rem(50);

        @include mobile-above {
            &:not(:last-child){
                margin-bottom: rem(50);
                padding-bottom: rem(50);
                border-bottom: 1px solid currentColor;
            }
        }

        @include mobile {
            flex-direction: column;
            row-gap: rem(37);
            align-items: center;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: rem(27);

        @include mobile {
            align-items: center;
            text-align: center;
            row-gap: rem(37);
        }

        &-title {
            color: var(--color-dark);
        }

        &-body {
            font-style: normal;
            
            p {
                --paragraphMarginBottom: 20px;
            }

            a {
                @include hover {
                    color: var(--color-accent);
                }
            }
        }
    }

    &__extra {
        display: flex;
        column-gap: rem(40);

        @include mobile {
            flex-direction: column;
            align-items: center;
            row-gap: rem(15);
            order: 2;
            border-top: 1px solid currentColor;
            padding-top: 37px;
            width: 100%;
        }
    }

    &__privacy-policy-link {
        text-decoration: underline;

        @include hover {
            color: var(--color-accent);
        }
    }

}