.section {
    padding-block: var(--section-padding-y);

    &--hidden-x {
        overflow-x: hidden;
    }

    &__header {
        display: flex;
        align-items: center;
        column-gap: rem(40);

        @include mobile {
            flex-direction: column;
            row-gap: rem(30);
            text-align: center;
        }

        &:not(:last-child){
            margin-bottom: rem(85);
            @include mobile {
                margin-bottom: rem(40);
            }
        }

    }

    &__description {
        max-width: rem(580);
    }
}

