.soc1als {

    &__list {
        display: flex;
        column-gap: rem(20);
    }

    &__link{
        @include flex-center(true);
        @include square(rem(30));

        color: var(--color-dark);
        background-color: var(--color-light);
        border-radius: 50%;
        transition: all .6 ease-in-out;
        
        @include hover{
            background-color: var(--color-accent);
        }

        svg  {
            width: 50%;
            height: 50%;
        }

    }
}