/* General rules */

:root {
    --bg-color: #020204;
    --text-color: #FFF;
    --accent-color: #C7A17A;
    --card-bg-color: #14141D;
    --card-bg-hover-color: #22222F;
    --paragraph-color: #DFDFDF;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

body {
    min-width: 320px;
    font-family: "Jost", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color .3s;
}

a:hover,a.active {
    color: var(--accent-color);
}


/* General rules */


/* header rules */

.header {
    position: sticky;
    width: 100%;
    top:0;
    z-index: 1000;
    background-color: var(--bg-color);
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.languages a,.header-phone {
    font-weight: 600;
    font-size: 14px;
}

.header nav {
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: 1px solid #32323D;
    border-bottom: 1px solid #32323D;
    background-color: var(--bg-color) !important;
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand img{
    max-width: 58px;
    transition: all 0.3s ease;
}

.navbar-brand:hover img {
    filter: drop-shadow(0 0 20px #FFF);
}

.header .navbar-nav .nav-link{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-color);
    padding-left: 17px;
    padding-right: 17px;
}

.header .navbar-nav .nav-link:hover,.header .navbar-nav .nav-link.active {
    color: var(--accent-color);
}

.header-icons {
    list-style: none;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.header-icons li {
    display: inline-block;
}

.header-icons li:not(:first-child) {
    margin-left: 25px;
}

.header-icons li a{
    position: relative;
}

.header-icons li a span>span{
    position: absolute;
    top: 0;
    right: -4px;
    width: 6px;
    height: 6px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

/* header rules */


/* hero section */

.hero-section {
    background: url(../img/hero_img.jpg) center no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-section-content {
    width: 50%;
}

.hero-section-content h1{
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 60px;
}

.hero-section-content .btn {
    border-radius: 10px;
    min-height: 50px;
    padding: 12px 60px;
    color: var(--text-color);
    transition: 0.5s ease;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    border-color: #666681;
    margin-right: 20px;
    margin-bottom: 20px;
}

.hero-section-content .btn-buy {
    background-color: var(--accent-color);
    border-color: transparent;
}

.hero-section-content .btn-buy:hover{
    background-color: #b67d45;
}

.hero-section-content .btn-buy:focus{
    background-color: #b67d45;
}

.hero-section-content p{
    font-weight: 400;
    color: var(--paragraph-color);
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* hero section */

/* banner section */

.banner-section {
    margin-bottom: 80px;
    margin-top: 100px;
}

.banner-section-inner {
    display: flex;
    
}

.banner-section-img {
    width: 50%;
    position: relative;
}

.banner-section-img img{
    border-radius: 10px 0 0 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right top;
}

.banner-section-img::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}


.banner-section-content {
    width: 50%;
    padding: 30px;
    background-color: var(--card-bg-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.banner-section-content h4{
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--text-color);
}

.banner-section-content p{
    font-weight: 400;
    font-size: 18px;
    color: var(--paragraph-color);
}

/* banner section */

/* product section */

.h-title {
    font-weight: 900;
    font-size: 40px;
    color: var(--text-color);
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 40px;
}

.product-card {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    margin-bottom: 21px;
    cursor: pointer;
    transition: background-color .3s;
    padding: 20px;
}

.product-card:hover {
    background-color: var(--card-bg-hover-color);
}

.product-card-img {
    text-align: center;
    margin-bottom: 42px;
}

.product-card-img img{
    width: 97px;
    height: 199px;
}

.product-card-content h3{
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.product-card-content h3 a{
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-card-details {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.product-price span {
    font-weight: 400;
}

.product-price small {
    font-weight: 400;
    text-decoration: line-through;
    font-size: 14px;
    color: #818181;
}

.product-actions {
    font-size: 25px;
}

/* product section */


/* news section */

.card {
    background-color: var(--card-bg-color);
}

.card img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-title {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 15px;
}

.card-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-color);
    height: 120px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

/* news section */


/* footer */
.footer {
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: 2px solid var(--card-bg-color);
}

.footer-logo img {
    max-width: 80px;
}

.footer-logo span {
    font-size: 20px;
    font-weight: 900;
    color: #F8DABF;
    text-transform: uppercase;
    transition: all .3s ease;
}

.footer-logo span:hover {
    color: var(--accent-color);
}

.footer-menu {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.footer-menu li {
    margin-bottom: 20px;
}

/* footer */

/* product page */

.product-page {
    padding-top: 80px;
    padding-bottom: 80px;
}

.product-page-actions {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    padding: 30px;
}

.product-page h1{
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.product-image {
    background-color: var(--card-bg-color);
    text-align: center;
    border-radius: 10px;
    padding: 60px;
    margin-bottom: 20px;
}

.product-variations ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    gap: 0 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.product-variations a {
    color: var(--text-color);
    font-weight: 700;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid var(--text-color);
    font-size: 22px;
    line-height: 48px;
    transition: all .3s ease;
}

.product-variations a.active,.product-variations a:hover  {
    color: var(--accent-color);
    border-color: var(--accent-color);
    background-color: transparent;
}

.product-page-actions span{
    font-weight: 700;
    font-size: 24px;
}

.add2cart-btn {
    color: var(--text-color);
    font-weight: 500;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
    background-color: var(--accent-color);
    border-color: transparent;
}

.add2cart-btn:hover{
    background-color: #b67d45;
    border-color: transparent;
}

.product-description {
    margin-top: 60px;
}

.product-description h3{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 30px;
}

.product-description-content {
    background-color: var(--card-bg-color);
    border-radius: 10px;
    padding: 30px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 80px;
    color: var(--paragraph-color);
}

.product-description-content ul{
    padding-left: 20px;
}

/* product pag */

/* media rules */

@media (min-width: 992px) {
    .header .navbar-nav .nav-item:first-child a{
        padding-left: 0;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .hero-section-content {
        width: 60%;
    }
}

@media (max-width: 992px) {

    .hero-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .hero-section-content h1{
        font-size: 40px;
    }
    
    .hero-section-content {
        width: 70%;
    }

    .banner-section-inner {
        flex-direction: column;
    }

    .banner-section-content, .banner-section-img {
        width: 100%;
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .banner-section-img img{
        border-radius: 10px 10px 0 0;
    }
}

@media (max-width: 400px) {
    .header-icons li:not(:first-child) {
        margin-left: 10px;
    }

    .hero-section-content {
        width: 100%;
    }

    .banner-section-content p{
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .header nav {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    
    .hero-section-content h1{
        font-size: 30px;
    }

    .hero-section-content p{
        font-size: 16px;
    } 

    .hero-section-content .btn {
        margin-right: 12px;
        margin-bottom: 12px;
    }

        
    .banner-section-content {
        padding: 16px;
    }

    .banner-section {
        margin-bottom: 70px;
        margin-top: 70px;
    }

    .footer-menu-last {
        text-align: right;
    }

    .footer-logo-inner {
        text-align: center;
        margin-bottom: 30px;
    }

    .product-description-content {
        margin-bottom: 0;
    }

    .product-page {
        padding-bottom: 40px;
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .new-section {
        margin-bottom: 40px;
    }

}

/* media rules */