.categories {
  ul {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: rem(13) rem(30);
      border-radius: rem(30);
      margin-right: rem(10);
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
