.categories {

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include mobile-s {
      display: grid;
      grid-template-columns: repeat(2,2fr);
    }

    li {
      background-color: rgba(218, 214, 214, 0.5921568627);
      padding: rem(13) rem(30);
      border-radius: rem(30);
      margin-right: rem(10);
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      margin-top: rem(30);
      text-align: center;

      @include noselect();


      @include mobile {
        margin-top: rem(12);
        padding: rem(13) rem(20);
      }

      &:hover,
      &:focus {
        background-color: #282828;
        color: bisque;
        transition: color, background-color .3s ease-in-out;
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }

}