.header {
  border-bottom: rem(1) solid $gray-line;
  padding: rem(40) 1rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__logo {
    display: flex;

    img {
      margin-right: rem(15);

      @include mobile {
        margin-right: rem(8);
      }
    }

    &-title {
      color: #181818;
      font-size: rem(24);
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
      
      @include mobile-s {
        text-align: center;
        font-size: rem(16);
      }
    }

    &-description {
      color: #7b7b7b;

      @include mobile {
        &--hidden {
          display: none;
        }
      }
    }
  }

}