.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;

    svg {
      margin-right: rem(8);
    }

    b {
      margin-right: rem(8);
    }

    span {
      color: $orange;
      border-bottom: rem(1) dashed $orange;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: rem(15);
    background: #ffffff;
    box-shadow: rem(0) rem(5) rem(15) rgba(0, 0, 0, 0.09);
    border-radius: rem(10);
    overflow: hidden;
    padding: rem(10) 0;
    width: rem(160);

    ul {
      overflow: hidden;
      li {
        padding: rem(12) rem(20);
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
