@use 'sass:math';

@mixin flex-center($isInline: false) {
    @if $isInline {
        display: inline-flex;
    } @else  {
        display: flex;
    }

    justify-content: center;
    align-items: center;
}

@function rem($pixel) {
    @if math.is-unitless($pixel){
        @return #{math.div($pixel, 16)}rem;
    } @else {
        @error "Only number without type(pix,rem .....)"
    }
}