@import './style.scss';

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - rem(40));
  height: 100%;
  background-color: #fff;
  margin: rem(50) auto;
  border-radius: rem(10);
  max-width: rem(1400);

  @include mobile-s {
    width: calc(100vw - rem(30));
  }
}

.content {

  &__title {
    margin: rem(35) 0;
  }

  &__items {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(30);

    @include desktop {
      grid-template-columns: repeat(3, 3fr);
      gap: rem(16);
    }

    @include mobile {
      grid-template-columns: repeat(2, 2fr);
    }

    @media (max-width: 580px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1300px) {
      flex-direction: column-reverse;
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    margin: rem(50) auto;

    @include mobile {
      width: 100%;
      margin: rem(30) auto;
    }

    .content__title {
      margin: 0;
    }
  }
}