/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0;
    /* 1 */
    padding: 0;
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
    *overflow: visible;
    /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.item {
    width: 200px;
    height: 100px;
    background-color: blue;
    padding: 20px;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*header style start*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    padding-bottom: 20px;
}
.header_active {
    background: #0E1D28;
    z-index: 999;
}
.header_active_bg {
    background: #0E1D28;
    z-index: 999;
}
.header_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 56px;
    transition: padding-top 0.3s ease-in-out;
}
.header_wrapper_active {
    padding-top: 16px;
}
.header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}
.header-item {
    margin-right: 82px;
}
.header-item:last-child {
    margin-right: 0;
}
.header_link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.header_link:hover,
.header_link:focus {
    opacity: .65;
}
.header-burger {
    display: none;
    width: 40px;
    height: 20px;
    position: relative;
    margin-bottom: 5px;
}
.burger-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
}
.burger-line-first {
    top: 0;
}
.burger-line-second {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.burger-line-third {
    bottom: 0;
}
/*header style end*/

/*intro style start*/

.intro {
    min-height: 100vh;
    background: url(../img/intro-bg-min.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 293px;
}
.intro_title {
    max-width: 619px;
    font-weight: 500px;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    color: white;
    margin-bottom: 22px;
}
.intro_subtitle {
    max-width: 546px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: white;
    margin-bottom: 59px;
}
.search-form_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.search-form_field {
    width: 297px;
    background: transparent url(../img/svg/circle-icon.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search-form_field::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search-form_field::-moz-placeholder {
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search-form_field:-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search-form_field::-ms-input-placeholder {
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search-form_field::placeholder {
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search-form_button{
    /* z-index: 999; */
    font-weight: 500;
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 24px;
    padding: 15px 39px;
    -webkit-appearance: none;
    appearance: none;
    background-color:  #1B7DFF;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 5px #1464cf;
    text-transform: uppercase;
    &:focus {
    outline: 0;
    }
&:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
&:before{
    display: none;
    top: -75%;
    background-image:  
    radial-gradient(circle,  #1B7DFF 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%,  #1B7DFF 20%, transparent 30%),
    radial-gradient(circle,  #1B7DFF 20%, transparent 20%), 
    radial-gradient(circle,  #1B7DFF 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%,  #1B7DFF 15%, transparent 20%),
    radial-gradient(circle,  #1B7DFF 20%, transparent 20%),
    radial-gradient(circle,  #1B7DFF 20%, transparent 20%),
    radial-gradient(circle,  #1B7DFF 20%, transparent 20%),
    radial-gradient(circle,  #1B7DFF 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
}
&:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle,  #1B7DFF 20%, transparent 20%), 
    radial-gradient(circle,  #1B7DFF 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%,  #1B7DFF 15%, transparent 20%),
    radial-gradient(circle,  #1B7DFF 20%, transparent 20%),
    radial-gradient(circle,  #1B7DFF 20%, transparent 20%),
    radial-gradient(circle,  #1B7DFF 20%, transparent 20%),
    radial-gradient(circle,  #1B7DFF 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}
&:active{
    transform: scale(0.9);
    background-color: darken( #1B7DFF, 5%);
    box-shadow: 0 2px 25px #1464cf;
}
&.animate{
        &:before{
        display: block;
        animation: topBubbles ease-in-out 0.75s forwards;
        }
        &:after{
            display: block;
            animation: bottomBubbles ease-in-out 0.75s forwards;
        }
    }
}
@keyframes topBubbles {
    0%{
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
}
@keyframes bottomBubbles {
    0%{
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
}
/*intro style end*/

/*benefits style start*/

.benefits {
    margin-bottom: 131px;
}
.benefits_wrapper {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    -webkit-box-shadow: 0px 2px 20px 0px #15182429;
            box-shadow: 0px 2px 20px 0px #15182429;
    position: relative;
}
.benefits_title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: white;
}
.benefits_cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 55px;
    padding: 0 100px;
}
.benefits_card {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    margin-bottom: 112px;
}
.benefits_card-pic {
    max-width: 66px;
    margin-bottom: 37px;
}
.benefits_card-thumb {
    display: block;
}
.benefits-title-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 26px;
}
.benefits_subtitle-text {
    font-size: 16;
    line-height: 24px;
    color: #000000;
    margin-bottom: 39px;
}
.benefits_card-more {
    display: inline-block;
    padding-right: 59px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/arrow.svg) no-repeat 95% center;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;

}
.benefits_card-more:hover,
.benefits_card-more:focus {
    background: url(../img/svg/arrow.svg) no-repeat right center;
    color: #073f88;
    opacity: 0.65;
}
/*benefits style end*/

/*next-trip-wrapper style start*/

.next-trip {
    margin-bottom: 131px;
}
.places-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px;
}
.next-trip-title {
    margin-right: 15px;
}
.next-trip-all {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    background: url(../img/svg/arrow.svg) no-repeat 95% center;
    padding-right: 59px;
    color: #006DFE;
}
.next-trip-all:hover,
.next-trip-all:focus,
.next-trip-all:active {
    background: url(../img/svg/arrow.svg) no-repeat right center;
    color: #094ea8;
    opacity: 0.65;
}
.places-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.places-card {
    position: relative;
    overflow: hidden;
}
.places-card:hover .places-card-pic {
    -webkit-transform: scale(1.10);
        -ms-transform: scale(1.10);
            transform: scale(1.10);
}
.places-card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #15182466;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.places-card-size-lg {
    -ms-grid-column-span: 3;
    grid-column: span 3;
}
.places-card-size-small {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}
.places-card-pic {
    width: 100%;
    -webkit-transition: .25s all;
    -o-transition: .25s all;
    transition: .25s all;
}
.places-card-pic-size-lg {
    height: 354px;
    -o-object-fit: cover;
       object-fit: cover;
}
.places-card-pic-size-sm {
    height: 283px;
    -o-object-fit: cover;
       object-fit: cover;
}
.places-card-title {
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}
.places-card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
/*next-trip style end*/

/*Tours styles start*/

.tours {
    margin-bottom: 139px;
}
.tours-tour {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 108px 1fr;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 108px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 77px;
}
.tour-info {
    padding-left: 47px;
}
.tour-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    color: #102746;
    padding-bottom: 85px;
}
.tour-desc {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 58px;
    color: #102746;
}
.tour-link {
    background: url(../img/svg/arrow.svg) no-repeat 95% center;
    padding-right: 59px;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #006DFE;
}
.tour-link:focus,
.tour-link:active,
.tour-link:hover {
    background: url(../img/svg/arrow.svg) no-repeat right center;
    color: #094ea8;
    opacity: 0.65;
}
.tours-thumb {
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}
.tours-thumb:hover {
    -webkit-transform: scale(1.20);
        -ms-transform: scale(1.20);
            transform: scale(1.20);
}
.tours-thumb::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #15182466;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
/*Tours styles end*/

/*Top styles start*/

.top {
    margin-bottom: 86px;
}
.top-title {
    margin-bottom: 54px;
}
.top-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 57px;
    row-gap: 57px;
}
.top-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-span: 2;
    grid-column: span 2;
}
.top-card-pic {
    position: relative;
    margin-bottom: 45px;
}
.top-card-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #15182499;
    padding: 16px 25px;
}
.top-card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 0 auto 0 0;
}
.top-card-likes {
    font-size: 16px;
    line-height: 24px;
    color: white;
    background: url(../img/svg/heart-ico.svg) no-repeat right;
    padding-right: 20px;
    margin-right: 14px;
}
.top-card-comments {
    font-size: 16px;
    line-height: 24px;
    color: white;
    background: url(../img/svg/comments-ico.svg) no-repeat right;
    padding-right: 23px;
}
.top-card-desc {
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 31px;

}
.top-link-more:link,
.top-link-more:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    transition: all .2s;
    width: 160px;
    margin: auto 0 0 0;
    align-items: center;
}
.top-link-more:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.top-link-more:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
    background-color: #006DFE;
    color: white;
}
.top-link-more::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 160px;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn-white::after {
    background-color: #006DFE;
}
.top-link-more:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.top-card-pic {
    position: relative;
    overflow: hidden;
}
.top-card-thumb {
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    width: 100%;
}
.top-card-thumb:hover {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
}
.top-card-thumb::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #15182466;
    position: absolute;
    top: 0;
    left: 0;
}
/*Top styles end*/


/*Video styles start*/

.block-video {
    width: 100%;
}
.video-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.video-item {
    padding-top: 56.25%;
}
.video-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*Video styles end*/

/*Footer styles start*/

.footer {
    background: #0E1D28;
    padding: 119px 0;
}
.footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer-logo {
    width: 50%;
}
.footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
}
.footer-menu-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.footer-menu-link {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #00bfff;
    position: relative;
    cursor: pointer;
}
.footer-menu-link:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: rgb(15, 207, 111);
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
}
.footer-menu-link:hover:after,
.footer-menu-link:focus:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: rgb(72, 255, 0);
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
}
/*Footer styles end*/